body {
  overflow-x: hidden;
}

nav {
  height: 56px;
  width: 100vw;
  color: #fed136;
  background-color: rgb(34, 37, 41);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navContainer {
  height: 100%;
  width: 540px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.startBootstrap {
  font-size: 1.5em;
  font-weight: bold;
}

.navLinks {
  color: #fff;
  display: none;
  width: 50%;
  height: 100%;
}

.menu {
  padding: 15px;
  background-color: #fed136;
  color: #fff;
  border-radius: 5px;
  font-size: .9em;
}

main {
  background-image: url('http://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  width: 100%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main h4 {
  font-size: 22px;
  color: #fff;
}

main h1 {
  font-size: 50px;
  color: #fff;
  font-weight: bold;
  margin: 30px;
}

main button {
  margin-top: 15px;
  background-color: #fed136;
  color: #fff;
  font-size: 1.1em;
  border: none;
  padding: 25px 45px;
  border-radius: 5px;
  font-weight: bold;
}

.dropdownMenu {
  position: absolute;
  display: none;
  /* top: 40; */
  /* left: 0; */
  width: 100vw;
  height: 200px;
  background-color: rgb(34, 37, 41);
  font-size: 1.1em;
  color: #fff;
  /* padding: 10px; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

.dropdownLinks {
  /* top: 40; */
  /* left: 50; */
  line-height: 2.3em;
  width: 540px;
}

.menu-open {
  animation: openMenu .3s linear forwards;
}

.menu-close {
  animation: closeMenu .3s linear forwards;
}

@keyframes openMenu {
  from {
    height: 0px;
    display: none;
    /* top: -50; */
  }

  to {
    height: 200px;
    display: block;
    /* top: 50; */
  }
}

@keyframes closeMenu {

  from {
    height: 23vh;
    display: block;
  }

  to {
    height: 0vh;
    display: none;
  }
}

@media(min-width: 576px) {
  .navContainer {
    width: 540px;
  }

  .mainContainer {
    width: 540px;
  }


}


@media(min-width: 768px) {
  .navContainer {
    width: 720px;
  }

  .mainContainer {
    width: 720px;
  }

  .dropdownLinks {
    width: 720px;
  }

  main {
    height: 85vh;
  }

  main h4 {
    font-size: 40px;
  }

  main h1 {
    font-size: 75px;
  }
}

@media(min-width: 992px) {
  nav {
    height: 100px;
    align-items: flex-end;
    background: none;
  }

  .navContainer {
    width: 960px;
    background: none;
    z-index: 1;
  }

  main {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }


  .startBootstrap {
    font-size: 2em;
  }

  .mainContainer {
    width: 960px;
  }

  .navLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    display: none;
  }
}